body.taking-quiz{
    background-color: rgba(0, 0, 0, 0.3);
}
.wrap-survey {
    /* background: rgba(0, 0, 0, 0.3) !important; */
    height: 100vh;
}

#surveyElement {
    width: 70%;
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
}

#surveyResult {
    display: none;
    width: 70%;
    margin: 50px auto;
}

#alert-danger,
#alert-success {
    display: none;
}

.btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #18a689;
    color: #fff;
}

.panel-footer {
    padding: 0 15px;
    border: none;
    text-align: right;
    background-color: #fff;
}

#divStartQuiz{
    text-align: center;
}