<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Start Quiz</title>
    <link rel="stylesheet" href="../static/css/start-quiz.css" th:href="@{/css/start-quiz.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
</head>

<body>
    <div id="divStartQuiz" style="padding:50px">
        <button type="button" class="btn btn-lg btn-primary btn-start">
            <span>Start Quiz</span>
        </button>
    </div>
    <div class="wrap-survey">
        <div id="surveyElement">
        </div>
    </div>
    <div id="surveyResult" style="display: none;">
        <div id="alert-success" class="alert alert-success" role="alert">
            <h3 class="alert-heading">Quiz Done!</h3>
            <p>You are finish Quiz successful.</p>
            <p>Thank you for your time.</p>
            <hr>
            <h4>Result</h4>
            <p class="mb-0">Total answers correct: <span class="numOfRightAnswers"></span></p>
            <p class="mb-0">Total questions: <span class="totalQuestion"></span></p>
        </div>

        <div id="alert-danger" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>Something wrong!</p>
            <p>Please take the Quiz in anothertime.</p>
        </div>
    </div>

</body>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="../static/libs/surveyjs/survey.jquery.js" th:src="@{/libs/surveyjs/survey.jquery.js}"></script>
<script type="text/javascript" src="../static/js/start-quiz.js" th:src="@{/js/start-quiz.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

</html>